User_Name_new|User_Name_old|User_Email|User_Pass|User_PIN
Friendly name state 721.01,account1Email@gmail.com,password,PINnum
Farm name used 721.12,youremail@gmail.com,p@$$w0rd,123456
My farm rocks 735.01,account2Email@yahoo.com,N0tCompl1ca7ed!,None
